  body {
    font-family: 'Segoe UI';
    color:#FF6700;
    background-color:  black;
  }

  h1{
    font-weight: 300;
    font-size:2.8vw;
    margin-top:-0.5%;
    margin-left:1.6%;
    text-transform: lowercase;
  }

  p{
    font-size:1.6vw;
    margin:1.6%;
    margin-right: 20%;
    font-weight: 300;
  }

  footer{
    padding-top: 300px;
    margin-right: 100px;
    text-align: right;
    font-weight: 300;
  }

  main{
    display:flex;
  }

  .ig{
    filter: invert(71%) 
    sepia(85%) saturate(6519%) 
    hue-rotate(5deg) brightness(109%) 
    contrast(103%);
  }

  .page-content a{
    color:#FF6700;
    text-decoration: none;
    font-weight: 500;
  }

  .page-name {
    font-size: 5vw;
    font-weight: bolder;
    color: #FF6700;
  }

  .page-content{
    float:left;
    width: 100%;
    margin-left: 5%;
  }

  .active {
    color:black;
    font-weight: bold;
    text-decoration: none;
    color: #FF6700;
    text-decoration: underline;
  }
  
  .navbar {
    width: 15%;
    font-size: 2.3vw;
    margin-left: 1%;
    font-weight: 1;
  }
  
  .navbar a {
    display: block;
    text-decoration: none;
    color: white;
  }


  .navbar a:hover {
    color: #FF6700;
    font-weight: 700;
    animation-name: hovering;
    animation-duration: 150ms;
  }

  
  @keyframes hovering{
    from{font-weight: 1;}
    to{font-weight: 700;}
  }
  

  .home {
    height: 300px;
    background-image: url('home.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
  }
  
  .shirts{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    column-gap: 40px;
    margin-right: 10px;
    padding-left: 2%;
  }

  .shirts div{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: wheat;
    font-size: 1vw;
  }

  .shirts img {
    padding-bottom: 10px;
    max-width: 23vw;
  }

  .page-content p{
    color:wheat;
  }


  

